<div class='title'>
  <h1> Resolution Board </h1>
  <h4> See how your goals are progressing</h4>
</div>
<div class='content'>
  <% @resolutions.each do |resolution| %>
    <div class='resolution-card'>
      <%= link_to octicon("pencil", height: 20),
                  edit_resolution_url(resolution),
                  class: 'edit-button' %>
      <div class='resolution-card-row'>
        <div class='col goal-title'><strong><%=resolution.title%></strong></div>
        <div class='progress-text'>
          <% latest_update = resolution.last_update %>
          <% unless latest_update.nil? %>
            <label class='update-label'>
              Last Updated <%= latest_update.date.to_s %>: <%= latest_update.summary %>
            </label>
          <% end %>
        </div>
      </div>
      <div class='resolution-card-row'>
        <div class='actions col'>
          <%= link_to "Add Update", new_resolution_update_url(resolution), class: "update-link" %>
        </div>
        <div class='col'>
          <div class='progress-bar'>
            <div class='completed-bar <%= 'full' if resolution.complete? %>'
                 style='width: <%= [resolution.percentage_completed, 100].min %>%'>
            </div>
            <span class='progress'>
              <%= "#{resolution.total_progress}/#{resolution.goal} #{resolution.unit}" %>
            </span>
          </div>
        </div>
      </div>
    </div>
  <%end%>
  <% if @resolutions.empty? %>
    <div class="empty-contiainer">
      <h4>Looks like you have no resolutions yet</h4>
      <%= link_to "Make A Resolution", new_resolution_url, class: 'button add-button' %>
    </div>
  <% end %>
</div>
<div class='footer'>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "footer-button" %>
  <%= link_to "Make A Resolution", new_resolution_url, class: 'footer-button add-card' %>
  <%= link_to "Manage Account", edit_user_registration_path, class: "footer-button" %>
</div>

