<div class='small-page'>
  <div class='title'>
    <h1>Update Your Progress!</h1>
    <h3>Goal: <%= @resolution.title %> </h3>
  </div>
  
  <div class='content'>
    <%= form_for(
          @update,
          url: resolution_updates_url(@resolution),
          method: "post",
          html: { class: 'form-center' }
        ) do |form| %>
      <div class='form-row'>
        <div class='form-element'>
          <label>Date</label>
          <%= form.date_field :date %>
        </div>
        <div class='form-element'>
          <label>Progress</label>
          <%= form.number_field :progress %> 
        </div>
        <div class='form-element'>
          <label>Note</label>
          <%= form.text_field :note, class: "wide-input" %>
        </div>
      </div>
      <div class='form-row'>
        <%= form.submit "Submit", class: "button" %>
        <%= link_to "Cancel", resolutions_url, class: "button" %>
      </div>
    <% end %>
  </div>
</div>
